<div class="journal-main">
  <div>
    <form action="/users/{{userId}}/journals" method="POST">
    <h5>Add a Journal</h5>
      <div class="form-input">
        <label for="name">Journal Name:</label>
        <input type="text" name="name" required>
      </div>

      <div class="form-input">
        <label for="category">Journal Category:</label>
        <input type="text" name="category">
      </div>
      <div>
        <input type="submit" value="Create Journal">
        <a href="/users/{{user._id}}" class="button warning">Cancel</a>
      </div>
    </form>
  </div>
</div>