<!DOCTYPE html>
<html>

<head>
  <title>wanderlust</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="navbar">
    <a href="/users">Home</a>
    <a href="#news">Users</a>
    <a href="#contact">Blogs</a>
  </div>
  {{{body}}}
</body>

</html>