<div class="journal-main">
  <form action="/users/{{userId}}/journals/{{journal._id}}/posts" method="POST">
    <h2 class="h2-post">New Post</h2>
    <div class="form-input">
      <label for="name">Name</label>
      <input type="text" name="name">
    </div>
    <div class="form-input">
      <label for="image">Image</label>
      <input type="text" name="image">
    </div>
    <div class="form-input">
      <label for="postDescription">Post Description</label>
      <input type="text" name="postDescription">
    </div>
    
    <div class="input-field">
      <label for="description">Body</label>
      <textarea class="validate" rows="4" cols="50" name="body"></textarea>
    </div>
    <div>
      <input type="submit" value="Create Post">
      <a href="/users/{{userId}}/journals/{{journal._id}}" class="button warning">Cancel</a>
    </div>
  </form>
</div>